SECRET_KEY=chave_secreta_desenvolvimento_reciclagem_reee_2024

MAIL_USERNAME=markescatito@gmail.com
MAIL_PASSWORD=wjyvdgdnyuklmruk
MAIL_DEFAULT_SENDER=markescatito@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True

FLASK_ENV=development
FLASK_DEBUG=True

DB_PATH=data/reciclagem_reee.db

ADMIN_EMAIL=admin@example.com
EMAIL_NOTIFICATIONS_ENABLED=True